= form_for @solution, html: { class: "form form-horizontal solution" } do |f|
  .form-group
    = f.label :content, class: 'control-label'
    .controls
      = f.text_field :content, class: 'form-control', required: true
    = error_span(@solution[:content])
  = f.submit nil,class: 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), solutions_path, :class => 'btn btn-default'
